{% extends 'dashboard.html' %}

{% block header %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Category</h1>
</div>

{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button class="btn btn-success" data-toggle="modal" data-target="#addCategory" title="tambah category">
          <i class="fa fa-plus"> Tambah Category </i>
        </button>
        <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tambah Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action='{{url_for("dashboard.category_add")}}' method='POST'>
                    <div class="form-group">
                      <label for="category-name" class="col-form-label"> category name: </label>
                      <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <input id="addCategoryButton" type="submit" style="display: none;">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                  <button onclick="document.getElementById('addCategoryButton').click();" type="button" class="btn btn-sm btn-success text-white-50">Submit</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="userTable" width="100%" cellspacing="0">
                <thead class="text-center">
                    <tr>
                        <th> NAME </th>
                        <th> ACTION </th>
                    </tr>
                </thead>
                <tfoot class="text-center">
                    <tr>
                        <th> NAME </th>
                        <th> ACTION </th>
                    </tr>
                </tfoot>
                <tbody class="text-center">
                {% for category in categories %}
                    <tr>
                        <td>{{category.name|pascal_case}}</td>
                        <td>
                          <a href="#" class="btn btn-sm btn-circle btn-warning" data-toggle="modal" data-target="#editCategory{{category.id}}" title="edit">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="{{url_for('dashboard.category_delete', id=category.id)}}" class="btn btn-sm btn-circle btn-danger" title="delete">
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>
                    </tr>
                    <div class="modal fade" id="editCategory{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="editCategorylLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action='{{url_for("dashboard.category_edit", id=category.id)}}' method='POST' enctype="multipart/form-data">
                              <div class="form-group">
                                <label for="category-name" class="col-form-label"> Category name: </label>
                                <input type="text" name="name" value="{{category.name}}" class="form-control" id="name" required>
                              </div>
                              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                              <input id="editCategoryButton{{category.id}}" type="submit" style="display: none;">
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="document.getElementById('editCategoryButton{{category.id}}').click();" type="button" class="btn btn-sm btn-success text-white-50">Submit</button>
                          </div>
                        </div>
                      </div>

                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
